$img-box: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"> <rect height="100" width="100" y="0" x="0" stroke-width="10" stroke="#fff" fill="none"/> </svg>');
$img-box-checked: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"><g><rect height="100" width="100" y="0" x="0" stroke-width="10" stroke="#fff" fill="none"/><polyline points="30,50 45,70 70,20" stroke-width="10" stroke="#fff" fill="none"/></g></svg>');
$img-unfolded: url('data:image/svg+xml;utf8, <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"> <g stroke-width="8" stroke="#ff7" fill="none"> <polygon points="10,95 95,95 95,20 40,20 40,10 10,10"/> </g></svg>');
$img-folded: url('data:image/svg+xml;utf8, <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"> <g stroke-width="8" stroke="#ff7" fill="none"> <polygon points="10,95 95,95 85,40 33,40 30,30 3,30"/> <polyline points="95,95 95,15 10,15 10,30"/> </g></svg>');
$img-add: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"><g stroke-width="8" stroke="#7f7"><line x1="3" y1="50" x2="97" y2="50"/><line x1="50" y1="3" x2="50" y2="97" /></g></svg>');
$img-del: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"><g><rect height="60" width="60" y="30" x="20" stroke-width="6" stroke="#f77" fill="none"/><polyline points="45,4 55,4 " stroke-width="6" stroke="#f77" fill="none"/><polyline points="10,10 90,10 " stroke-width="6" stroke="#f77" fill="none"/><polyline points="40,30 40,90 " stroke-width="6" stroke="#f77" fill="none"/><polyline points="60,30 60,90 " stroke-width="6" stroke="#f77" fill="none"/></g></svg>');
$img-tag: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"> <g stroke-width="6" stroke="#77f" fill="none"> <polygon points="3,97 3,50 50,3 97,50 50,97"/> <circle cx="23" cy="77" r="5" /> </g> </svg> ');
$img-menu: url('data:image/svg+xml;utf8, <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"> <g stroke-width="8" stroke="#7f7"> <circle cx="50" cy="20" r="5"/> <circle cx="50" cy="50" r="5"/> <circle cx="50" cy="80" r="5"/></g></svg>');

/*

$img-xxx: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"><g stroke-width="8" stroke="#7f7"></g></svg>');

*/
