@import 'components/_todo.scss';
@import 'components/_tag.scss';
@import 'components/_menu.scss';
@import 'vars/_colors.scss';
@import 'vars/_const.scss';

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $bg-color;
  color: white;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

input,
textarea {
  &:focus {
    outline-style: none;
  }

}

.todo-add-new {
  margin: 2rem 1rem;
  max-width: 50rem;
  width: 95%;
  display: table;
  height: $todo-h;

  input {
    border: 1px solid #333;
    padding-left: .5rem;
  }
}
