.todo-menu {
  position: absolute;
  background: black;
  color: white;
  z-index: 200;
  list-style: none;
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  left: -1rem;
  top: 3rem;

  .todo-cmp__button {
    position: absolute;
    margin-left: - $btn-w;
  }

  &__item {
    cursor: pointer;
    padding: 1rem 1rem 1rem 3rem;
    line-height: 3rem;

    &:hover {
      background-color: #070707;
    }
  }

  &__overlay {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

  }
}
