@import '../vars/_colors.scss';
@import '../vars/_const.scss';

.todo-tags {
  position: absolute;
  margin-left: $btn-w;
  font-size: .7rem;
  font-weight: 100;
  height: .8rem;
  width: 95%;
  max-width: 50rem;
  margin-top: -.2rem;

  &__tag {
    letter-spacing: -.05rem;
    float: left;
    padding-right: .5rem;
    cursor: no-drop;

    &:hover {
      text-decoration: line-through;
    }
  }
}

.tags-list {
  ul {
    margin-top: 2rem;
    list-style: none;

    li {
      padding: 1rem;
      font-size: 1rem;
    }
  }
}
