@import '../vars/_colors.scss';
@import '../vars/_const.scss';
@import '../vars/_svg.scss';

.todo-cmp {
  display: table;
  height: $todo-h;
  max-width: 50rem;
  width: 95%;
  margin-bottom: $todo-mb;
  margin-left: 2rem;

  &--hidden {
    display: none;
  }

  &__text {
    display: table-cell;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 100%;
    height: $todo-h;
    background: transparent !important;
    color: white;
    border: none;

    &--checked {
      color: #555;
    }

  }

  &__button {
    display: table-cell;
    width: $btn-w;
    height: $btn-h;
    cursor: pointer;

    background: transparent;

    & > div {
      width: $btn-w *.5;
      height: $btn-h *.333;
      margin-left: $btn-w *.25;
      margin-top: $btn-h *.333;
      background-size: cover;
      transform: scale(1.3);

      &:active {
        transform: scale(1.1);
      }
    }
  }

  &__del-button {
    background: $img-del;
  }

  &__link {
    color: #77f;
    padding: .5rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__menu-button {
    background: $img-menu;
  }

  &__tag-button {
    background: $img-tag;
  }

  &__add-button {
    background: $img-add;
  }

  &__menu-button {
    background: $img-menu;
    position: absolute;
    left: .5rem;
  }

  &__fold-button {
    background: $img-folded;

    &--folded {
      background: $img-unfolded;
    }
  }

  &__check-button {
    background: $img-box;

    &--checked {
      background: $img-box-checked;
    }
  }

}

.app-todos {
  ul {
    margin-left: 1.5rem;
  }

  li {
    position: relative;
    list-style-type: none;
    margin-top: -1rem;

  }
}
